#pins.container.transitions-enabled
  .row
    - @pins.each do |pin|
      %div.panel.panel-default

        %div.panel-body
          = link_to (image_tag pin.image.url(:thumb)), pin
        %div.panel-footer
          %b= pin.name
          %p= pin.description
