/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$red: #DD0808;
$red-light: #F02121;
$red-dark: #A20101;

body {
  background-color:#e9e9e9;
  margin-bottom:50px;
  padding-bottom:50px;
}

nav.navbar {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  border:none;
  ul.nav.navbar-nav li a {
    font-weight: bold;
    padding: 15px 8px;
  }
  .navbar-header i.glyphicon.glyphicon-camera {
    color:$red;
  }
  ul.nav.navbar-nav li a.logout {
    padding: 5px 10px;
    background-color: $red;
    color: white;
    border-radius: 15px;
    margin-top: 10px;
  }
  ul.nav.navbar-nav li a.logout:hover {
    background-color:$red-light;
  }
}

div.notifications {
  margin-top: 75px;
}

#show, #pins {
  div.panel-footer {
    padding:0px;

    .heading, .description, .user {
      padding:10px;
      margin:0;
    }
    .heading {
      font-weight:bold;
    }
    .user {
      font-size:.9em;
      img.img-circle {
        width:25px;
      }
    }
    .description {
      border-top:solid #e9e9e9 1px;
      font-size:.9em;
      color:#666;

      span {
        margin-top:5px;
        display: block;
        text-align: right;
      }
      span.red {
        color:$red;
      }
    }
  }
}

#pins {
  div.panel-default {
    width:230px;
    display:inline-block;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    border-radius: 6px;
    border:none;
    margin-right:10px;
  }
  div.panel-body {
    padding:0px;
    img:hover {
     -webkit-filter: brightness(70%);
     filter: brightness(70%);
   }
  }
  div.panel-footer:hover {
    background-color:#fff;
  }
}

#show {
  div.panel-heading {
    text-align:right;
  }
  div.panel-body {
    text-align:center;
  }
  i.glyphicon.glyphicon-heart {
    color:$red;
    font-size:1.5em;
  }
}

div.panel.panel-default a {
  text-decoration: none;
  color: initial;
}

div.panel.panel-default.show {
  max-width:802px;
  margin:0 auto;
  div.panel-body {
    text-align:right;
  }
  div.panel-body {
    text-align:center;
    padding:0px
  }

}

#pins div.panel-default:last-child {
  margin-right:0;
}